langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langchain-text-splitters
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
langchain-ollama
langchain-chroma